* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b60ce;
  border-radius: 30px;
  margin-left: 5px;
}

.carousel-button-group {
  position: relative;
  top: -146px;
}

.carousel-button-group button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7cb8f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.carousel-button-group button.leftArrow {
  left: -30px;
}

.disable {
  visibility: hidden;
}
.carousel-button-group button.rightArrow {
  right: -30px;
}
